{% extends 'home/base.html' %}

{% block content %}
    <h1>Feeds</h1>
    <form action="{% url 'index' %}" method="POST">
        <label for="url_site">
            RSS do site:
        </label>
        <input type="text" name="rss_site">
        <button type="submit">Enviar</button>
        {% csrf_token %}
    </form>
    {% if data %}
        {% for title, link in data %}
            <p>
                <a href="{{ link }}">{{ title }}</a>
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
